pre {
  margin-block: var(--size-3);
  text-align: start;
  border-radius: var(--radius-3);
  padding-block: var(--size-8) var(--size-3);
  padding-inline: var(--size-5);
  box-shadow: var(--shadow-3);
  max-inline-size: max(var(--size-content-1), 95vw);
  background: 
    linear-gradient(to bottom, #0003 0 0, 2.5rem, #0000 0 0),
    radial-gradient(circle at 2rem 1.25rem, var(--gray-10) 0 0, .5rem, #0000 0 0),
    radial-gradient(circle at 3.5rem 1.25rem, var(--gray-9) 0 0, .5rem, #0000 0 0),
    radial-gradient(circle at 5rem 1.25rem, var(--gray-8) 0 0, .5rem, #0000 0 0),
    conic-gradient(
      from 25deg at 35% 75%, 
      #ffffff09, 
      85%, 
      #fff0
    );
}