---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Example 2">
	<main>
		<h1>Morphing Code</h1>
    <p>Just look at these awesome snippets!</p>
<Code code={`.foo { 
  color: red; 
  background: blue;
}`} lang="css" theme="dracula" />
	</main>
</Layout>
