---
import Layout from '../layouts/Slide.astro';
---

<Layout title="View Transition Slides">
	<main>
		<header>
			<h1>Astro += View Transitions</h1>
		</header>
		<h4>Don't have any fun</h4>
		<picture>
			<source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f60f/512.webp" type="image/webp">
			<img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f60f/512.gif" alt="ðŸ˜" width="250" height="250">
		</picture>
	</main>
</Layout>
