---
import Controls from '../components/Controls.astro';
import '../styles/index.css';

export interface Props {
	title: string;
	animation?: 'page' | 'element' | string;
}

const { title, animation = 'element' } = Astro.props;

const slides = await Astro.glob('../pages/*.astro');
const currentSlideIndex = slides.findIndex(
	slide => slide.url + '.html' === Astro.url.pathname
);
const nextSlide = slides.at(currentSlideIndex + 1) ?? slides.at(0);;
---

<!DOCTYPE html>
<html lang="en" data-view-transition={animation}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="view-transition" content="same-origin" />
		<title>{title}</title>
	</head>
	<body>
		<slot />

		{nextSlide && <Controls href={nextSlide.url + '.html'} />}
	</body>
</html>

<script is:inline>
	switch (performance.getEntriesByType('navigation')[0].type) {
		case 'reload':
			document.documentElement.dataset.viewTransitionDirection = 'reload';
			break;
		case 'back_forward': {
			const prev = sessionStorage.getItem('prev-url');
			document.documentElement.dataset.viewTransitionDirection =
				document.referrer === prev ? 'forward' : 'back';
			break;
		}
		default:
			document.documentElement.dataset.viewTransitionDirection = 'forward';
	}

	sessionStorage.setItem('prev-url', location.href);
</script>

<style is:global>
	body {
		display: grid;
	}

	body > * {
		grid-area: 1 / 1;
	}
</style>
